$purple: #68219F;
$orenge: #EEA617;
$yellow: #EEA617;
$hover: #FFB800;

%roboto400 {
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

%roboto700 {
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
}

%bebas {
    font-family:'YanoneKaffeesatz', sans-serif;
    font-weight: 700;
    font-style: normal;
}